*{
    margin: 0;
    padding: 10;
}

.cabeçalho {
    background-color: #340374;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 80px;
}


.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 12px;
    font-size: 30px;
    color: rgb(189, 12, 12);
}

.cabeçalho-lista-item-1{
    display: inline-block;
    margin: 0 12px;
    font-size: 50px;
    color: #6a0f7c;
}

.cabeçalho-lista-item-2{
    display: inline-block;
    margin: 0 12px;
    font-size: 40px;
    color: #3115af
}

.principal {
    background-image: url(img/globo.jpg);
    background-repeat: no-repeat;
    background-size: 0%;
}

.container {
    height: 100vh;
    display: grid;
}

.container_botao {
    background-color: var(#EBFF6F)
    border-radius: 5px;
    color: var(--branco-principal)
}

.container_imagem {
    margin: 1em 0 1em 0;
}